#menu-bar-right {
  position: absolute;
  right: 0;
}
#menu-bar-right .display-stack {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 20px;
}
#menu-bar-right .display-stack div {
  position: static;
  top: 0;
  left: 0;
}

#menu-bar {
  display: inline-block;
  height: auto;
  margin-bottom: 28px;
  margin-top: 3px;
  overflow: auto;
}
#menu-bar a {
  float: left;
}

#rulevisualizer {
  margin-top: 5px;
  text-align: center;
  height: auto;
  width: auto;
}
#rulevisualizer table {
  display: inline-block;
  height: auto;
  width: auto;
  margin: 1px;
}
#rulevisualizer table tr {
  height: 10px;
  width: auto;
  margin: 1px;
}
#rulevisualizer table tr td {
  height: 8px;
  width: 8px;
  margin: 1px;
}
#rulevisualizer table tr .random {
  background-color: #FFFFFF;
}
#rulevisualizer table tr .invisible {
  background-color: #FFFFFF;
}
#rulevisualizer table tr .invisible div {
  background-color: #FFFFFF;
  visibility: visible;
}
#rulevisualizer table tr .inactive div {
  background-color: #FFFFFF;
  visibility: hidden;
}
#rulevisualizer table tr .active div {
  background-color: #FFFFFF;
  visibility: hidden;
}

.row {
  text-align: center;
}
.row div {
  height: 8px;
  width: 8px;
  margin: 1px;
  display: inline-block;
}

body {
  margin: 0;
  display: inline;
  text-align: right;
}
body #footer {
  position: absolute;
  right: 3px;
  bottom: 3px;
}
