body {
  margin: 0;
  display: inline;
  text-align: right;
}
body #menu-bar {
  display: inline-block;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
body #menu-bar a {
  float: left;
}
body #menu-bar #menu-bar-right {
  float: right;
}
body #menu-bar #menu-bar-right .display-stack {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 20px;
}
body #menu-bar #menu-bar-right .display-stack div {
  position: static;
  top: 0;
  left: 0;
}
body #rule-visualizer {
  margin-top: 5px;
  height: auto;
  width: 100%;
  text-align: center;
}
body #rule-visualizer #rule-visualizer-inner {
  display: inline-block;
  margin: 0 auto;
}
body #rule-visualizer #rule-visualizer-inner table {
  float: left;
  height: auto;
  width: auto;
  margin: 1px;
}
body #rule-visualizer #rule-visualizer-inner table tr {
  height: 10px;
  width: auto;
  margin: 1px;
}
body #rule-visualizer #rule-visualizer-inner table tr td {
  height: 8px;
  width: 8px;
  margin: 1px;
}
body #rule-visualizer #rule-visualizer-inner table tr .random {
  background-color: #FFFFFF;
}
body #rule-visualizer #rule-visualizer-inner table tr .invisible {
  background-color: #FFFFFF;
}
body #rule-visualizer #rule-visualizer-inner table tr .invisible div {
  background-color: #FFFFFF;
  visibility: visible;
}
body #rule-visualizer #rule-visualizer-inner table tr .inactive div {
  background-color: #FFFFFF;
  visibility: hidden;
}
body #rule-visualizer #rule-visualizer-inner table tr .active div {
  background-color: #FFFFFF;
  visibility: hidden;
}
body #automaton .row {
  text-align: center;
}
body #automaton .row div {
  height: 8px;
  width: 8px;
  margin: 1px;
  display: inline-block;
}
body #footer {
  position: absolute;
  right: 3px;
  bottom: 3px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
