#menu-bar-right .display-stack div {
  position: static;
  top: 0;
  left: 0;
}

#menu-bar-right .display-stack {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 20px;
}

#menu-bar-right {
  position: absolute;
  right: 0;
}

#menu-bar a {
  float: left;
}

#menu-bar {
  display: inline-block;
  height: auto;
  margin-bottom: 28px;  /* hacky; otherwise the rule-visualizer + CA window overlap :-( */
  margin-top: 3px;
  overflow: auto;
}


#rule-visualizer table tr td div {
  font-size: 90%;
  line-height: 50%;
}

#rule-visualizer table tr .invisible div {
  background-color: #FFFFFF;
  visibility: visible;
}

#rule-visualizer table tr .active div {
  background-color: #FFFFFF;
  visibility: hidden;
}

#rule-visualizer table tr .inactive div {
  background-color: #FFFFFF;
  visibility: hidden;
}

#rule-visualizer table tr .invisible {
  background-color: #FFFFFF;
}

#rule-visualizer table tr .random {
  background-color: #FFFFFF;
}

#rule-visualizer table tr td {
  height: 8px;
  width: 8px;
  margin: 1px;
}

#rule-visualizer table tr {
  height: 10px;
  width: auto;
  margin: 1px;
}

#rule-visualizer table {
  display: inline-block;
  height: auto;
  width: auto;
  margin: 1px;
}

#rule-visualizer {
  margin-top:5px;
  text-align: center;
  height: auto;
  width: auto;
}

.row div {
  height: 8px;
  width: 8px;
  margin:1px;
  display: inline-block;
}

.row {
  height: 10px;
  text-align: center;
}

#footer {
  position: absolute;
  right: 3px;
  bottom: 3px;
}

body {
  margin: 0;
  display: inline;
  text-align: right;
}
