.row div {
  height: 8px;
  width: 8px;
  margin:1px;
  display: inline-block;
}

#menu-bar {
  height: 23px;
  margin-bottom: 3px;
  margin-top: 3px;
}

body {
  margin: 0;
  display: inline;
  text-align: right;
}
